In [1]:
#Import dependencies into juputer notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor


from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans


from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error 

import pickle
from flask import Flask, render_template, redirect, jsonify
import pymongo
import json
from bson import json_util
import plotly.express as px

#from models import create_classes
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, sessionmaker, scoped_session
from sqlalchemy import create_engine, inspect, func
from config import p_key
import os
from flask_sqlalchemy import SQLAlchemy
from flask_migrate import Migrate
#!pip install flask_migrate


import scipy.stats as st
from scipy.stats import linregress

In [2]:
df = pd.read_csv("Resources/RealEstate_Georgia.csv")
df_gdp = pd.read_csv("Resources/GAgdpbycounty2020.csv")
df_income = pd.read_csv("Resources/ACSST5Y2020.S1901_data_with_overlays_2022-05-17T173521.csv")

In [3]:
df_gdp2 = df_gdp.drop('CAGDP2 Gross domestic product (GDP) by county and metropolitan area 1/', axis=1, inplace=False)
df_gdp2= df_gdp2.rename(columns={'Unnamed: 1': 'county', 'Unnamed: 2': 'GDP (thousands)'}).dropna()
gdp_county_column = df_gdp2["county"].str.split(",", n =1, expand = True) 
df_gdp2["county"]= gdp_county_column[0]
df_gdp_clean = df_gdp2[2:].reset_index(drop=True)

In [4]:
#Census columns = S1901_C03_012E, S1901_C04_001E
cleandata= df_income[['NAME', 'S1901_C03_012E','S1901_C04_012E']]
#Renaming the columns
cleandata_transformed = cleandata.rename(columns={"NAME": "name",
                                                          "S1901_C03_012E": "Married Family Income",
                                                          "S1901_C04_012E": "Nonfamily Income"})
cleandata_transformed["county"] = cleandata_transformed["name"].str.replace(' County, Georgia', '')
census_clean = cleandata_transformed.dropna().reset_index().drop(columns = ['name','index'])
census_clean = census_clean[1:160].reset_index(drop=True)
census_clean["Married Family Income"] = census_clean["Married Family Income"].astype('int')
census_clean["Nonfamily Income"] = census_clean["Nonfamily Income"].astype('int')

In [5]:
df_mergefiles1 = pd.merge(census_clean, df_gdp_clean, on="county", how="outer")

#Cleaning Data
df.drop_duplicates()
df_cln = df.loc[(df.is_bankOwned == False) & (df.is_forAuction == False)& (df.homeType != 'LOT')]

df_cln.head()

#(df_cln.homeType == 'SINGLE_FAMILY') &

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,0.0,31503-110785431,16.0,17.0,55064.0,USA,7/12/21,0.0,0.0,Listed for sale,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,SINGLE_FAMILY,Brantley County
1,1.0,31503-76611082,16.0,18.0,55064.0,USA,7/12/21,0.0,0.0,Listed for sale,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,SINGLE_FAMILY,Ware County
2,2.0,31503-93126153,16.0,19.0,55064.0,USA,7/10/21,0.0,0.0,Listed for sale,...,1.0,0.0,0.0,0,0.0,0.0,0.0,0.0,SINGLE_FAMILY,Ware County
3,3.0,31503-110785598,16.0,20.0,55064.0,USA,7/9/21,0.0,0.0,Listed for sale,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,SINGLE_FAMILY,Brantley County
5,5.0,31503-227421330,16.0,22.0,55064.0,USA,7/5/21,0.0,0.0,Listed for sale,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,SINGLE_FAMILY,Ware County

In [9]:
df_cln.loc[:,'Month']

0        7
1        7
2        7
3        7
5        7
        ..
13784    7
13787    7
13801    6
13802    6
13803    6
Name: Month, Length: 9271, dtype: int64

In [8]:

df_cln.loc[:,'Month'] = df_cln.loc[:,'datePostedString'].str[0].astype(int)

/Users/ramon/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [ ]:
df_cln

In [ ]:
df_cln['datePostedString'].str[0] = pd.to_numeric(df_cln['datePostedString'])

In [ ]:
df_cln['datePostedString'].replace = df_cln['datePostedString'].str[0].astype('int')
df_cln['datePostedString']

In [ ]:
# df_cln['datePostedString'].loc[(df_cln['datePostedString'].str[0] == True), df_cln["datePostedString"]] = df_cln['datePostedString'].str[0].astype('int')
# df_cln

In [ ]:
df_cln['datePostedString'] = df_cln['datePostedString'].str[0].astype('int')
df_cln['datePostedString']

In [ ]:
df_cln['datePostedString'].replace(df_cln['datePostedString'].values, df_cln['datePostedString'].str[0].astype('int'))

In [ ]:
df_cln = df_cln.loc[(df_cln.yearBuilt < 2022) & (df_cln.yearBuilt > 1800) ]
drop_columns = ['Unnamed: 0', 'id', 'stateId', 'countyId', 'cityId', 'country',
       'is_bankOwned', 'is_forAuction', 'event', 'time','state',
       'streetAddress', 'hasBadGeocode',#'homeType',
       'description', 'currency', 'livingAreaValue',
       'lotAreaUnits', 'buildingArea', 
       'garageSpaces', 'hasPetsAllowed','datePostedString']
df_ready = df_cln.drop(columns=drop_columns).dropna()
df_ready["county"] = df_ready["county"].str.replace(' County', '')
df_ready["county"] = df_ready["county"].str.replace('Dekalb', 'DeKalb')

In [ ]:
df_merge = pd.merge(df_ready, df_mergefiles1, on="county", how="left")

In [ ]:
#File to be used by Tableau Public
#df_merge.to_csv("Tableau_housing_data")

In [ ]:
#deleting additional columns for clustering analysis
drop_columns2 = ['city','Month','county', 'zipcode', 'homeType', 'levels', 'pricePerSquareFoot', 'parking', 'longitude', 'latitude']
df_cluster = df_merge.drop(columns=drop_columns2)
df_cluster.reset_index(drop=True, inplace=True)

In [ ]:
df_filtered = df_cluster
df_filtered = df_filtered.loc[(df_filtered.price < 1000000) & (df_filtered.livingArea < 15000) & (df_filtered.livingArea > 400) & (df_filtered.bathrooms < 8) &( df_filtered.bedrooms < 9) & (df_filtered.bedrooms > 0)]

In [ ]:
df_num = pd.get_dummies(df_filtered)

scaler = StandardScaler().fit(df_num)
data_cluster = scaler.transform(df_num)

In [ ]:
pca = PCA(n_components=0.90)
data_pca = pca.fit_transform(data_cluster)

In [ ]:
tsne = TSNE(learning_rate=100)
tsne_data = tsne.fit_transform(data_pca)

In [ ]:
#plotting the results of t-SNE
# plt.scatter(tsne_data[:,0], tsne_data[:,1])
# plt.show()

In [ ]:
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of k values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(data_cluster)
    inertia.append(km.inertia_)

# Create the Elbow Curve using hvPlot
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)

In [ ]:
# Plot the elbow curve to find the best candidate(s) for k
# plt.plot(df_elbow['k'], df_elbow['inertia'])
# plt.xticks(range(1,11))
# plt.xlabel('Number of clusters')
# plt.ylabel('Inertia')
# plt.title('Elbow curve for customer data')
# plt.show()

In [ ]:
def get_clusters(k, data, column):
    # Initialize the K-Means model
    model = KMeans(n_clusters=k, random_state=42)
    # Train the model
    model.fit(data)
    # Predict clusters
    predictions = model.predict(data)
    # Create return DataFrame with predicted clusters
    data[column] = model.labels_
    return data

In [ ]:
# clusters = get_clusters(3, df_num)
# labels = clusters["classx"]

In [ ]:
cluster_name = ["class2", "class3", "class4", "class6"]
ki = [2, 3, 4, 6]

In [ ]:
for k in ki:
    clusters = get_clusters(k, df_num, cluster_name[ki.index(k)])

In [ ]:
# def show_clusters(df):
#     plt.figure(figsize=(10,7))
#     plt.scatter(df["price"], df["livingArea"], c = df["class3"])
#     plt.xlabel('price')
#     plt.ylabel('Family Income')
#     plt.show()
    
# show_clusters(clusters)

In [ ]:
# plt.scatter(tsne_data[:,0], tsne_data[:,1], c = df_num["class3"])
# plt.show()

In [ ]:
#create dictionary
x_l = tsne_data[:,0].tolist()
y_l = tsne_data[:,1].tolist()
c_2 = df_num["class2"].tolist()
c_3 = df_num["class3"].tolist()
c_4 = df_num["class4"].tolist()
c_6 = df_num["class6"].tolist()

cluster_dict = {
"x": x_l,
"y": y_l,
"c2": c_2,
"c3": c_3,
"c4": c_4,
"c6": c_6
}

data1 = pd.DataFrame(cluster_dict)

In [ ]:
data2 = df_num[["price","livingArea","class2","class3","class4","class6"]]
data2.reset_index(drop=True, inplace=True)

In [ ]:
# drop_columns3 = ['city','county', 'levels', 'homeType','longitude', 'latitude']
# df_n= df_merge.drop(columns=drop_columns3)
data2

In [ ]:

# #ANALYSING: Creation of correlation heat map for numerical values.

# f, ax = plt.subplots(figsize=(11, 15))

# heatmap = sb.heatmap(df_n.corr()*100,
#                       square = True,
#                       linewidths = .5,
#                       cmap = 'coolwarm',
#                       cbar_kws = {'shrink': .9,
#                                 'ticks' : [-1, -.5, 0, 0.5, 1]},
#                       vmin = -1,
#                       vmax = 1,
#                       annot = True,
#                       annot_kws = {'size': 12})

In [ ]:

df_merge.rename(columns = {'Married Family Income':'family_income', 'GDP (thousands)':'GDP'}, inplace = True)

df_line = df_merge
df_line = df_line.loc[(df_line.price < 2000000) & (df_line.price > 10000) & (df_line.livingArea < 12000) & (df_line.livingArea > 200) &(df_line.pricePerSquareFoot < 700) & (df_line.bathrooms < 8) & (df_line.bathrooms > 0) &( df_line.bedrooms < 9) & (df_line.bedrooms > 0) & (df_line.yearBuilt < 2022) & (df_line.yearBuilt > 1900)]

y = df_line['price']
colums_to_drop = ['pricePerSquareFoot','price', 'city', 'zipcode',
       'parking', 'hasGarage', 'levels', 'pool', 'spa',
       'homeType', 'county', 'Month','Nonfamily Income']
feature_cols = df_line.drop(columns = colums_to_drop)

X = feature_cols

data3 = df_merge[['price', 'pricePerSquareFoot', 'yearBuilt',
       'longitude', 'latitude', 'livingArea', 'bathrooms', 'bedrooms',
       'parking', 'hasGarage', 'pool', 'spa', 'isNewConstruction',
       'family_income', 
       'GDP']]
data3.reset_index(drop=True, inplace=True)

# split data into train and test
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=2)
# the test set will be 20% of the whole data set

reg = LinearRegression()
reg.fit(x_train,y_train)

# Use our model to make predictions
predicted = reg.predict(x_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

reg.score(x_test, y_test)

x_la = X["livingArea"]
(la_slope, la_int, la_r, la_p, la_std_err) = linregress(x_la, y)
fit_la = la_slope*x_la + la_int

x_yb = X["bathrooms"]
(yb_slope, yb_int, yb_r, yb_p, yb_std_err) = linregress(x_yb, y)
fit_yb = yb_slope*x_yb + yb_int

data = {"livingArea": x_la, "bathrooms": x_yb, "price": y, "pred_la_price":fit_la, "pred_bath_price":fit_yb}

data5 = pd.DataFrame(data)# columns = "livingArea", "bathrooms", "price", "pred_la_price", "pred_bath_price")
data5.reset_index(drop=True, inplace=True)

In [ ]:

# df_line['price_target'] = pd.qcut(df_line['price'],
#                            q=12,
#                            labels=False)

In [ ]:
#Creating x and y . Married Family Income (S1901_C03_012E) was used with price of houses using names of dataframes made in earlier cells.

In [ ]:
data3
#df_merge.describe()[['price','livingArea', 'pricePerSquareFoot' , 'bathrooms', 'bedrooms','family_income']]

In [ ]:
# split data into train and test
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=2)
# the test set will be 20% of the whole data set

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:

reg = LinearRegression()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted = reg.predict(x_test)

reg.fit(x_train,y_train)
# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")
reg.score(x_test, y_test)

In [ ]:
x_la = X["livingArea"]
(la_slope, la_int, la_r, la_p, la_std_err) = linregress(x_la, y)
fit_la = la_slope*x_la + la_int

In [ ]:
x_yb = X["bathrooms"]
(yb_slope, yb_int, yb_r, yb_p, yb_std_err) = linregress(x_yb, y)
fit_yb = yb_slope*x_yb + yb_int

In [ ]:
# plt.figure(figsize=(10,7))
# x_la = X["livingArea"]
# plt.xlabel('living area')
# plt.ylabel('Price')


# (la_slope, la_int, la_r, la_p, la_std_err) = linregress(x_la, y)
# fit_la = la_slope*x_la + la_int

# plt.scatter(x_la, y)
# plt.plot(x_la, fit_la,"r--")

# plt.show()

In [ ]:
# plt.figure(figsize=(10,7))
# x_yb = X["bathrooms"]
# plt.xlabel('yearBuilt')
# plt.ylabel('Price')


# (yb_slope, yb_int, yb_r, yb_p, yb_std_err) = linregress(x_yb, y)
# fit_yb = yb_slope*x_yb + yb_int

# plt.scatter(x_yb, y)
# plt.plot(x_yb, fit_yb,"r--")

# plt.show()
# print(yb_r, la_r)

In [ ]:
data = {"livingArea": x_la, "bathrooms": x_yb, "price": y, "pred_la_price":fit_la, "pred_bath_price":fit_yb}

data5 = pd.DataFrame(data)# columns = "livingArea", "bathrooms", "price", "pred_la_price", "pred_bath_price")
data5.reset_index(drop=True)

In [ ]:
# data 
# data = {'Regression': ['livingArea', 'bathrooms'], 'x_slope': [la_slope, yb_slope], 'y_int': [la_int, yb_int]}
# # Create DataFrame.
# regression_df = pd.DataFrame(data).


# data4 = regression_df
# data4

In [ ]:
# data2.reset_index(drop=True, inplace=True)

import sqlite3
sqlite3.connect('housing66')
# engine = create_engine('sqlite:///C:\\sqlitedbs\\housing66.db', echo=True)
# connection = engine.connect()
# engine = create_engine('sqlite:///C:\\sqlitedbs\\housing66.db', echo=True)
# connection = engine.connect()

In [ ]:
engine = create_engine('sqlite:///housing4.db', echo=True)

In [ ]:
connection = engine.connect()
# engine = create_engine('sqlite:///C:\\sqlitedbs\\housing66.db', echo=True)
# connection = engine.connect()

In [ ]:
# data3_test = data1.loc[0:10]
# data2_test

In [ ]:
# data3_test.to_sql('data3_db',  if_exists='replace', index=False, con=connection)

In [ ]:
connection = engine.connect()

In [ ]:
connection.close()

In [ ]:
x = []
y = []
c2 =[]
c3 =[]
c4 =[]
c6 =[]

In [ ]:
session = Session(engine)

In [ ]:
data_df3 = pd.read_sql_table("data3_db", con = connection)

data_df3

In [ ]:
data_df.reset_index(drop=True, inplace=True)
data_df

In [ ]:
x = [result for result in data_df["x"]]
y = [result for result in data_df["y"]]
c2 = [result for result in data_df["c2"]]
c3 = [result for result in data_df["c3"]]
c4 = [result for result in data_df["c4"]]
c6 = [result for result in data_df["c6"]]

In [ ]:
cluster_data = {
  "cluster2":{
    "x": x,
    "y": y,
    "c": c2,

  },
 "cluster3":{
    "x": x,
    "y": y,
    "c": c3,


  },
 "cluster4":{
    "x": x,
    "y": y,
    "c": c4,


  },
 "cluster6":{
    "x": x,
    "y": y,
    "c": c6}}

In [ ]:
data1

In [ ]:
session.close()

In [ ]:
data1.to_sql('clusterA',  if_exists='replace', index=True, con=connection, method='multi')

In [ ]:
connection.execute('ALTER TABLE "clusterA" ADD PRIMARY KEY ("index");')

In [ ]:
connection.close()

In [ ]:
####STOP#####

engine = create_engine(f'postgresql://postgres:{p_key}@localhost:5432/housing') 
connection = engine.connect()

In [ ]:
#Create table 1 (cost_index) in postgres database "Cost_Living"
data1.to_sql('clusterA',  if_exists='replace', index=True, con=connection, method='multi')
connection.execute('ALTER TABLE "clusterA" ADD PRIMARY KEY ("index");')

In [ ]:
df_elbow.to_sql('elbow',  if_exists='replace', index=True, con=connection, method='multi')
connection.execute('ALTER TABLE "elbow" ADD PRIMARY KEY ("index");')

In [ ]:
data2.to_sql('scatter_clusterA',  if_exists='replace', index=True, con=connection, method='multi')
connection.execute('ALTER TABLE "scatter_clusterA" ADD PRIMARY KEY ("index");')

In [ ]:
data3.to_sql('line', if_exists='replace', index=True, con=connection, method='multi')
connection.execute('ALTER TABLE "line" ADD PRIMARY KEY ("index");')

In [ ]:
# data4.to_sql('reg', if_exists='replace', index=True, con=connection, method='multi')
# connection.execute('ALTER TABLE "reg" ADD PRIMARY KEY ("index");')

In [ ]:
data5.to_sql('linreg', if_exists='replace', index=True, con=connection, method='multi')
connection.execute('ALTER TABLE "linreg" ADD PRIMARY KEY ("index");')

In [ ]:
connection.close()

In [ ]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# Save reference to the table
Data_clu= Base.classes.clusterA
# Data_elb= Base.classes.elbow
# Data_lin=Base.classes.line
# Data_linreg=Base.classes.linreg

In [ ]:
Data_clu

In [ ]:
session = Session(engine)
x = []
y = []
c2 =[]
c3 =[]
c4 =[]
c6 =[]
price = []
livingArea = []

results = session.query(Data_clu)
for value in results:
  x.append(value.x)
  y.append(value.y)
  c2.append(value.c2)
  c3.append(value.c3)
  c4.append(value.c4)
  c6.append(value.c6)
  price.append(value.price)
  livingArea.append(value.livingArea)

In [ ]:
# engine = create_engine(f'postgresql://postgres:{p_key}@localhost:5432/project4') 
# Base = automap_base()
# Base.prepare(engine, reflect=True)
# Emoji = Base.classes.clusterA
# Emoji

In [ ]:
# session  = Session(engine)
# query = session.query(clusterx).limit(10)
# for x in query:
#     print(x.title)

In [ ]:
# columns = inspector.get_columns('cluster')
# for column in columns:
#     print(column["name"], column["type"])

In [ ]:
# results = session.query(Emoji.x, Emoji.y, Emoji.c).\
#     order_by(Emoji.c.desc()).all()
# results

In [ ]:
# results = session.query(Emoji)
# x = []
# y = []
# c =[]
# for value in results:
#     x.append(value.x)
#     y.append(value.y)
#     c.append(value.c)

In [ ]:
# BigInteger
# Boolean
# Date
# DateTime
# Float
# Integer
# Numeric
# SmallInteger
# String
# Text
# Time

In [ ]:
#Import dependencies into juputer notebook
import numpy as np
import pandas as pd
import seaborn as sb

from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score,mean_absolute_error 

# import pickle
# from flask import Flask, render_template, redirect, jsonify
import json
# from bson import json_util
# import plotly.express as px

#from models import create_classes
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, sessionmaker, scoped_session
from sqlalchemy import create_engine, inspect, func
from config import p_key
import os
from flask_sqlalchemy import SQLAlchemy
from flask_migrate import Migrate


import scipy.stats as st
from scipy.stats import linregress

# def data_info():

df = pd.read_csv("../Resources/RealEstate_Georgia.csv")
df_gdp = pd.read_csv("../Resources/GAgdpbycounty2020.csv")
df_income = pd.read_csv("../Resources/ACSST5Y2020.S1901_data_with_overlays_2022-05-17T173521.csv")
df_gdp2 = df_gdp.drop('CAGDP2 Gross domestic product (GDP) by county and metropolitan area 1/', axis=1, inplace=False)
df_gdp2= df_gdp2.rename(columns={'Unnamed: 1': 'county', 'Unnamed: 2': 'GDP (thousands)'}).dropna()
gdp_county_column = df_gdp2["county"].str.split(",", n =1, expand = True) 
df_gdp2["county"]= gdp_county_column[0]
df_gdp_clean = df_gdp2[2:].reset_index(drop=True)
#Census columns = S1901_C03_012E, S1901_C04_001E
cleandata= df_income[['NAME', 'S1901_C03_012E','S1901_C04_012E']]
#Renaming the columns
cleandata_transformed = cleandata.rename(columns={"NAME": "name",
                                                        "S1901_C03_012E": "Married Family Income",
                                                        "S1901_C04_012E": "Nonfamily Income"})
cleandata_transformed["county"] = cleandata_transformed["name"].str.replace(' County, Georgia', '')
census_clean = cleandata_transformed.dropna().reset_index().drop(columns = ['name','index'])
census_clean = census_clean[1:160].reset_index(drop=True)
census_clean["Married Family Income"] = census_clean["Married Family Income"].astype('int')
census_clean["Nonfamily Income"] = census_clean["Nonfamily Income"].astype('int')

df_mergefiles1 = pd.merge(census_clean, df_gdp_clean, on="county", how="outer")

#Cleaning Data
df.drop_duplicates()
df_cln = df.loc[(df.is_bankOwned == False) & (df.is_forAuction == False)& (df.homeType != 'LOT')]
df_cln['Month'] = df_cln['datePostedString'].str[0].astype('int')
df_cln = df_cln.loc[(df_cln.yearBuilt < 2022) & (df_cln.yearBuilt > 1800) ]
drop_columns = ['Unnamed: 0', 'id', 'stateId', 'countyId', 'cityId', 'country',
    'is_bankOwned', 'is_forAuction', 'event', 'time','state',
    'streetAddress', 'hasBadGeocode',#'homeType',
    'description', 'currency', 'livingAreaValue',
    'lotAreaUnits', 'buildingArea', 
    'garageSpaces', 'hasPetsAllowed','datePostedString']
df_ready = df_cln.drop(columns=drop_columns).dropna()
df_ready["county"] = df_ready["county"].str.replace(' County', '')
df_ready["county"] = df_ready["county"].str.replace('Dekalb', 'DeKalb')

df_merge = pd.merge(df_ready, df_mergefiles1, on="county", how="left")

#     return df_merge

# def cluster_info(df_merge):    
    #deleting additional columns for clustering analysis
drop_columns2 = ['city','Month','county', 'zipcode', 'homeType', 'levels', 'pricePerSquareFoot', 'parking', 'longitude', 'latitude']
df_cluster = df_merge.drop(columns=drop_columns2)
df_cluster.reset_index(drop=True, inplace=True)

df_filtered = df_cluster
df_filtered = df_filtered.loc[(df_filtered.price < 1000000) & (df_filtered.livingArea < 15000) & (df_filtered.livingArea > 400) & (df_filtered.bathrooms < 8) &( df_filtered.bedrooms < 9) & (df_filtered.bedrooms > 0)]

df_num = pd.get_dummies(df_filtered)

scaler = StandardScaler().fit(df_num)
data_cluster = scaler.transform(df_num)



#     return data1

In [ ]:
pca = PCA(n_components=0.90)
data_pca = pca.fit_transform(data_cluster)
tsne = TSNE(learning_rate=100)
tsne_data = tsne.fit_transform(data_pca)

inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of k values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(data_cluster)
    inertia.append(km.inertia_)

    # Create the Elbow Curve using hvPlot
    elbow_data = {"k": k, "inertia": inertia}
    df_elbow = pd.DataFrame(elbow_data)

In [ ]:
def get_clusters(k, data, column):
    # Initialize the K-Means model
    model = KMeans(n_clusters=k, random_state=42)
    # Train the model
    model.fit(data)
    # Predict clusters
    predictions = model.predict(data)
    # Create return DataFrame with predicted clusters
    data[column] = model.labels_
    return data

cluster_name = ["class2", "class3", "class4", "class6"]
ki = [2, 3, 4, 6]
for k in ki:
    get_clusters(k, df_num, cluster_name[ki.index(k)])

#create dictionary
x_l = tsne_data[:,0].tolist()
y_l = tsne_data[:,1].tolist()
c_2 = df_num["class2"].tolist()
c_3 = df_num["class3"].tolist()
c_4 = df_num["class4"].tolist()
c_6 = df_num["class6"].tolist()

cluster_dict = {
"x": x_l,
"y": y_l,
"c2": c_2,
"c3": c_3,
"c4": c_4,
"c6": c_6
}

data1 = pd.DataFrame(cluster_dict)
data2 = df_num[["price","livingArea","class2","class3","class4","class6"]]
data2.reset_index(drop=True, inplace=True)